@charset "UTF-8";

ol, ul {
    list-style: none;
    margin:0px; padding:0px;
}

.logo {
	width: 100%;
	height: 4em;
}

.logo2 {
	width: 80%;
	height: 4em;
}

.member-insert p {
	height: 1em;
	margin: 1em 0;
	color: red;
	line-height: 1em; 
}

/* input[type="checkbox"]:checked {
	background: #efbbcf;
}

label {
display: inline-block; width:17px; height: 17px; background: #fa3062;
cursor: pointer; border-radius: 3px;float: right;}
.agree .all_agree:after {display:block; clear:both; content:"";} */

input[type="checkbox"] {
    display:none;
}


input[type="checkbox"] + label span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url(../img/icon/checkbox.svg) left top no-repeat;
    cursor: pointer;
    background-size: cover;
}

input[type="checkbox"]:checked + label span {
     background:url('../img/icon/checkbox.svg') -26px top no-repeat;
     background-size: cover;
}

input[type="radio"] {
    display:none;
}


input[type="radio"] + label span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url(../img/icon/checkbox.svg) left top no-repeat;
    cursor: pointer;
    background-size: cover;
}

input[type="radio"]:checked + label span {
     background:url('../img/icon/checkbox.svg') -26px top no-repeat;
     background-size: cover;
}


.board-list {
	margin: 0;
	padding: 0;
}

.board-list ul {
	border-bottom: 1px solid #ddd;
	padding: 1em 0;

}

.board-list ul:first-child {
	border-top: 1px solid #ddd;
}


.board-list li {
	display: inline-block;
	height: 1em;
	line-height: 1em;
}

/* 글씨가 넘어가면 짤림 */
.board-list li:first-child{
	width: 60%;
	font-weight: bolder;
	overflow: hidden;
  	text-overflow: ellipsis;
}

.board-list li:first-child span:nth-child(2){
	
}


.board-list li:nth-child(2){
	width: 39%;
}

.board-list li span{
	padding: 0 0.5em;
}


@media screen and (max-width: 780px) {
	.board-list li:first-child{
		width: 100%;
	}
	.board-list li:nth-child(2){
		display: block;
		margin-top : 1em;
		font-size: 12px;
		text-align: left;
	}
}


.sub-9 {
	display: none;
}

.categorys .dropdown-toggle {
	color: #ee76ad;
}

.sub-9 {
	margin-top: 1em;
}
.sub-9 li {
	font-size: 13px;
	padding-left: 1em;
}

.my-img {
	width: 50px;
    border-radius: 50%;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
	.content-margin {
		padding: 1em 0;
	}
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
	.content-margin {
		padding: 2em 0;
	}
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
	.content-margin {
		padding: 4em 0;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
	.content-margin {
		padding: 6em 0;
	}
}