@charset "UTF-8";

body { }
/* body::after {
  content: "";
 
  background: url("../img/mountain.jpg");
  background-size: 100% 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
} */
#header {}
#banner {background: #b2ebf2; }
/* #content {width: 100%; background: rgba(250,250,250,1); overflow: hidden;} */
#content {
	width: 100%;
	overflow: hidden;
	background: rgba(250,250,250,1);	
	padding-bottom: 20px;
}	
#tail {height: 200px; background: #e3f8fb;}

.container {width: 1400px; height:inherit;  margin: 0 auto; }

/* 홈 페이지 */
#content2 {  
  position:relative;
  width:100%;
  height:1000px;
  background: url("../img/mountain.jpg");
  background-size: 100% 100%;
  opacity: 0.5;
  z-index: -1;   }
#content2 div:first-child {position: absolute; left: 10%; top: 100px; color: #fff; font-size: 30px; font-family: 'Nanum Pen Script', cursive;}
#content2 div:last-child {position: absolute; left: 10%; top: 250px; color: #fff; font-size: 30px; font-family: 'Nanum Pen Script', cursive;}
/* 홈 페이지 끝 */

/* header부분 css */
.header {width:inherit; position: relative; padding-top: 20px; padding-bottom: 18px; }
.header h1{width: 100%; height: 100px; display:inline-block; margin-left:20px; }
.header .login_info {position: absolute; right : 10px; top: 10px; font-size: 30px; font-family: 'Nanum Pen Script', cursive;}
.header .login_info p {display: inline; }
.header .login_info a {margin-left: 10px;}
.header h1 a {}
.header h1 a img {float : left; width: 100px; height: 100px; }
.header h1 a span {display:inline-block; margin-left: 10px; color: #b2ebf2; line-height: 100px; font-size:70px; font-family: 'Nanum Pen Script', cursive;}
/* 아이콘 제작자 <a href="https://www.flaticon.com/kr/authors/vitaly-gorbachev" title="Vitaly Gorbachev">Vitaly Gorbachev</a> from <a href="https://www.flaticon.com/kr/" title="Flaticon"> www.flaticon.com</a>*/

/* nav */
.banner {position: relative;}
.nav {}
.nav ul { text-align: center;  }
.nav ul li {position:relative; display: inline-block; width: 18%; }
.nav ul li .btn { display:block; font-size:50px; font-family: 'Nanum Pen Script', cursive; color: #fff; padding: 10px; }
.nav ul li .btn:hover { color: black;}

/* nav-block  */
.nav-block {position:absolute; overflow:hidden; width:100%; left:0px; top:78px; text-align:center; background: #e3f8fb; z-index: 1; 
	display: none; line-height: inherit; border-top: 1px solid #fff; padding-top:5px; border-radius:20px; }
.nav-block .nav-block-element { display: inline-block; width: 18%; height: 180px; vertical-align: top; line-height: inherit; } /* CSS inline-block 사용 시 높이가 안 맞을 때 :  vertical-align사용*/
.nav-block .nav-block-element:last-child {border-right:none;}
.nav-block .nav-block-element li {font-size:20px; font-family: 'Nanum Pen Script', cursive; color: black; padding: 10px;}
.nav-block .nav-block-element li a {}
/* nav-block 끝 */

/* content 본문부분  */
.content {width:inherit; height:inherit;  }
.content h1 {text-align: center; padding: 10px;}
.content .searchBox {}

/* 게시판 리스트 */
.content .boardList {position: relative;}
.content .boardList ul {}
.content .boardList ul li {overflow:hidden; text-align: center; padding:10px 0 10px 0; border-bottom: 1px solid #ccc; }
.content .boardList ul li .board-title {display:block; float:left; width: 50%;}
.content .boardList ul li .board-nickname {display:block; float:left; width: 15%;}
.content .boardList ul li .board-date {display:block; float:left; width: 15%;}
.content .boardList ul li .board-count {display:block; float:left; width: 5%;}
.content .boardList ul li .board-good {display:block; float:left; width: 5%;}

.content .boardList ul li .write-box {display:inline-block; text-align: center; }
.boardList input {width :auto; height: auto;}
.boardList .write-button {float: right; margin-right: 150px; border: 1px solid #ccc;}
.boardList .maxLine {position: absolute; right: 150px; top: -30px;}
/* 게시판 리스트 (끝)*/

/* anneagram 페이지 양쪽 나뉘어지는 부분 */
.blank {height: 10px;}
.content2 {width: 19%; height:inherit; float: left; background: rgba(250,250,250,1);}
.content2 li {width: 100%; display: block;  background: rgba(250,250,250,1);  padding: 20px 0; text-align: center;
	font-size:25px; font-family: 'Nanum Pen Script', cursive; border-bottom: 1px solid #ccc; }
.content2 li:last-child {border-bottom: none;}
.content2 .anneagram-nav {background: #ddd;}
.content3 {width: 80%; height:500px; float: left; text-align: center; background: rgba(250,250,250,1);}
.content3 h2 { padding: 20px; font-size:50px; font-family: 'Nanum Pen Script', cursive; }
.content3 ul {}
.content3 ul li {text-align: left; padding: 10px 10px 10px 30px;}

/* 게시판 글쓰기	*/
.content {text-align: center;}
.content .boardWrite {display: inline-block; width: 1000px; padding: 20px;background: rgba(250,250,250,1); border: 1px solid #ccc; border-radius:20px; margin: 20px 0;}
.content .boardWrite h1 {text-align: center; padding: 10px;}
.content .boardWrite ul {}
.content .boardWrite ul li {overflow:hidden; text-align: center; padding:10px 0 10px 0; border-bottom: 1px solid #ccc;}
.content .boardWrite ul li textarea,input {width: 90%; height: 90%; }
.boardWrite ul li:nth-child(3) input {width :auto; height: auto;}

/* 게시판 내용 */
.content .boardCont {display: inline-block; width: 1000px; padding: 20px;background: rgba(250,250,250,1); border: 1px solid #ccc; border-radius:20px; margin: 20px 0;}
.content .boardCont ul {}
.content .boardCont ul li {overflow:hidden; text-align: left; padding:10px 0 10px 0;}
.content .boardCont ul li:first-child {font-size: 30px;	 font-weight: bolder;}
.content .boardCont .nickname_bar {font-size: 15px; border-bottom: 1px solid #ccc;}
.content .boardCont .content_box {border-bottom: 1px solid #ccc;}
.content .boardCont .menu_bar {text-align: right; }
.content .boardCont .menu_bar button {border: 1px solid #ccc;}
.content .boardCont .menu_bar .reply_bar{display: block; float: left;}

/* 게시판 내용 - 댓글 */
.reply_box {background: #ddd; display: none;}
.reply_box ul {}
.reply_box ul li {border-bottom: 1px solid #ccc;  border-top: 1px solid #ccc;padding: 3px;}
.reply_box ul li span.nickname {font-size: 20px;  font-weight: bold; padding: 10px;}
.reply_box ul li span.rcontent {font-size: 13px; padding: 10px;}
.reply_box .reply_info {padding: 10px;}
.reply_box .reply_info h5 {padding: 10px 0;}
.reply_box .reply_info input {display:inline-block; width: 25%; } 
.reply_box .reply_info textarea {width: 90%; height: 50px;}

/* 게시판 수정페이지 */
.boardUpdate {display: inline-block; width: 1000px; padding: 20px; background: rgba(250,250,250,1); border: 1px solid #ccc; border-radius:20px; margin: 20px 0;}
.boardUpdate ul {}
.boardUpdate ul li { text-align: center; padding:10px 0 10px 0; border-bottom: 1px solid #ccc; }
.boardUpdate ul li input {border : 1px solid #ccc; background: rgba(250,250,250,1);} 
.boardUpdate ul li textarea {width: 90%; height: 90%; background: rgba(250,250,250,1); border : 1px solid #ccc;}
.boardUpdate ul li:nth-child(3) input {width :auto; height: auto;}


/* 테스트페이지 공지 */
.test-notice {position: relative; ; height: 300px; background: #rgba(250,250,250,1);}
.test-notice .test-notice-position {position: absolute; top:40px; left: 0; width: 100%;; text-align: center;
	font-size:20px; font-family: 'Nanum Pen Script', cursive; color: black; vertical-align: middle;}
.test-notice .test-notice-position div {margin: 20px 40px;}
.test-notice .notice1 {display: inline-block; height: 150px; background: #b2ebf2; padding: 20px 20px; color: black; border-radius: 50%; line-height: 150px; }
.test-notice .notice2 {display: inline-block; height: 150px; background: #b2ebf2; padding: 20px 20px; color: black; border-radius: 50%; line-height: 150px;}
.test-notice .notice3 {display: inline-block; height: 150px; background: #b2ebf2; padding: 20px 20px; color: black; border-radius: 50%; line-height: 150px;}
.test-notice p {display:inline; vertical-align: middle;}

/* 테스트 */
.test {color: #222;	}
.test ul {text-align: center;}
.test ul li {position:relative; border-bottom: 1px solid #ccc; margin: 10px; display:inline-block;  width: 70%;}
.test ul li:last-child {position:relative; margin: 10px; border-bottom: none; border-bottom: 1px solid #ccc;}
.test ul li:before {
	content: '비동의';
	font-weight : bolder;
	position:absolute;
	left: 0;
	top:40px;
	color:  #E77BA7;
}
.test ul li:after {
	content: '동의';
	font-weight : bolder;
	position:absolute;
	right: 0;
	top:40px;
	color:#4B9AC9;
}

/* 테스트 페이지 - 질문 */
/* .test ul li {margin: 10px; display:inline-block;  width: 70%;} */
/*.test input[type="radio"] {border: 1px solid #ccc; border-radius:50%; width:30px; height:30px; display:inline-block; -webkit-appearance: none; margin: 20px;}*/
.test input[value="1"] {border: 1px solid #E77BA7; border-radius:50%; width:50px; height:50px; display:inline-block; -webkit-appearance: none; margin: 20px;}
.test input[value="1"]:checked {background: #E77BA7; }
.test input[value="2"] {border: 1px solid #E77BA7; border-radius:50%; width:40px; height:40px; display:inline-block; -webkit-appearance: none; margin: 20px;}
.test input[value="2"]:checked {background: #E77BA7; }
.test input[value="3"] {border: 1px solid #ccc; border-radius:50%; width:30px; height:30px; display:inline-block; -webkit-appearance: none; margin: 20px;}
.test input[value="3"]:checked {background: #ccc; }
.test input[value="4"] {border: 1px solid #4B9AC9; border-radius:50%; width:40px; height:40px; display:inline-block; -webkit-appearance: none; margin: 20px;}
.test input[value="4"]:checked {background: #4B9AC9;}
.test input[value="5"] {border: 1px solid #4B9AC9; border-radius:50%; width:50px; height:50px; display:inline-block; -webkit-appearance: none; margin: 20px;}
.test input[value="5"]:checked {background: #4B9AC9;}
.test input[type="submit"] {border: 1px solid #ccc; width: 50px; height: 30px; }

/* test 페이지 버튼*/
.test2 {}
.test2 ul {text-align: center;}
.test2 ul button {width: 50px; height: 50px; border: 1px solid #ccc; border-radius: 50%; font-size:20px; font-family: 'Nanum Pen Script', cursive;}
.test2 ul progress {width: 300px;}

/* tail부분 */
.tail {font-size: 30px; font-family: 'Nanum Pen Script', cursive;}
.tail {text-align: center;}

/* test_complete */
.test-complete {font-family: 'Nanum Pen Script', cursive;}	
.test-complete button {width: 80px; height: 80px; border: 1px solid #ccc; border-radius: 50%; font-size:20px; font-family: 'Nanum Pen Script', cursive;}
/* test_complete 끝*/

/* 반응형 */
@media (max-width:1220px) {
	.container{width: 100%;}
}
@media (max-width:960px) {
	
}
@media (max-width:600px) {
	
}





/* 마우스 올렸을때 효과 */
/* .nav ul li .btn:hover:after {
  content: '';
  position: absolute;
 
  width:90%;
  height: 10px;
  left : 6px;
  display:inline-block;
  border-radius: 50px;
  bottom: -18px;
  box-shadow: 
  0 5px 20px 0 #999999 ;
}
.nav ul li .btn:hover:before{
 	position: absolute;
    left: 50%; bottom: -10px;
    margin-left: -5px;
    border-bottom: 10px solid #b2ebf2;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 0px solid transparent;}
.nav ul li .btn:after {
	content: '';
} */
