@charset "UTF-8";

body { position: relative;}
body::after {
  content: "";
  background: url("../img/mountain.jpg");
  background-size: 100% 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
#header {}
#banner {}
#content {height: 1000px;}

#tail {height: 200px; background: rgba(250,250,250,0.7); display: none;}

.container {width: 1600px; height:inherit;  margin: 0 auto;}

.header {width:inherit; position: relative; padding-top: 20px; padding-bottom: 18px; }
.header h1{width: 100%; height: 100px; display:inline-block; margin-left:20px; }
.header .login_info {position: absolute; right : 10px; top: 10px; font-size: 30px; font-family: 'Nanum Pen Script', cursive;}
.header .login_info p {display: inline; }
.header .login_info a {margin-left: 10px;}
.header h1 a {}
.header h1 a img {float : left; width: 100px; height: 100px; }
.header h1 a span {display:inline-block; margin-left: 10px; color: #b2ebf2; line-height: 100px; font-size:70px; font-family: 'Nanum Pen Script', cursive;}
/*아이콘 제작자 <a href="https://www.flaticon.com/kr/authors/vitaly-gorbachev" title="Vitaly Gorbachev">Vitaly Gorbachev</a> from <a href="https://www.flaticon.com/kr/" title="Flaticon"> www.flaticon.com</a>*/

.banner {}
.nav {}
.nav ul {text-align: center; background: #b2ebf2; border-radius: 20px; }
.nav ul li {position:relative; display: inline-block; width: 18%; }
.nav ul li .btn { display:block; font-size:50px; font-family: 'Nanum Pen Script', cursive; color: #fff; padding: 10px;}
.nav ul li .btn:before {
  content: '';
}

.nav ul li .btn:hover:after {
  content: '';
  position: absolute;
  width:100%;
  height: 10px;
  left : 0;
  display:block;
  border-radius: 50px;
  bottom: -18px;
  box-shadow: 
  0 5px 20px 0 #999999 ;
}
.nav ul li .btn:hover:before{
 	position: absolute;
    left: 50%; bottom: -10px;
    margin-left: -5px;
    border-bottom: 10px solid #b2ebf2;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 0px solid transparent;}
.nav ul li .btn:after {
	content: '';
}

.nav .first {position:absolute; left:0%; top: 85px; width: 100%; display:none; transition : height 0.3s;}
.nav .first ul {}
.nav .first ul li {display:block; margin-left: 0; width: 100%;}
.nav .first ul li a {display:block; font-size: 30px; font-family: 'Nanum Pen Script', cursive; color: #fff; padding: 10px;}
.nav .first ul li a:hover {background: rgba(222,222,222,0.5); border-radius:20px; }
.nav ul li:hover .first{display: block;}

/*2번째 버튼 초기화*/
.nav ul li:nth-child(2) .btn:after {
	display: none;
}
.nav ul li:nth-child(2) .btn:before {
	display: none;
}
.nav ul li:nth-child(2) .first {
	display: none;
}

.content {width:inherit;height:inherit; background: rgba(250,250,250,0.9); border-radius: 20px; }
.content h1 {text-align: center; padding: 10px;}
.content .searchBox {}
.content .boardList {}
.content .boardList ul {}
.content .boardList ul li {overflow:hidden; text-align: center; padding:10px 0 10px 0; border-bottom: 1px solid #ccc;}
.content .boardList ul li .board-title {display:block; float:left; width: 50%;}
.content .boardList ul li .board-nickname {display:block; float:left; width: 15%;}
.content .boardList ul li .board-date {display:block; float:left; width: 15%;}
.content .boardList ul li .board-count {display:block; float:left; width: 5%;}
.content .boardList ul li .board-good {display:block; float:left; width: 5%;}

.content .boardList ul li .write-box {display:inline-block; text-align: center; }

/*	<div id="content">
		<div class="container">
			<div class="content">
				<div class="row">
					<h1>게시판 목록</h1>
					<!-- 검색기능 박스 -->
					<div class="searchBox"></div>

					<div class="boardList">
						<form action="boardWrite" method="get">
							<ul>
								<li><span class="board-title">제목</span><span
									class="board-nickname">글쓴이</span><span class="board-date">수정날짜</span>
									<span class="board-count">조회수</span><span class="board-good">좋아요</span></li>

								<!-- 게시물 내용 반복 -->
								<c:forEach var="b" items="${blist }">
									<li><span class="board-title"><a
											href="boardCont?bno=${b.bno }">${b.title }</a></span><span
										class="board-nickname">${b.nickname }</span> <span
										class="board-date">${b.regdate }</span> <span
										class="board-count">${b.cnt }</span><span class="board-good"></span></li>
								</c:forEach>
								
								<li><input type="submit" value="글쓰기"></li>
								
								<!-- 게시글 페이지번호 -->
								<a href="boardList?startnum=${page-1}">이전</a>
								<c:set var="n" value="1" /> 
								<c:forEach var="n" end="${count }" begin="1" step="1">
									<li><a href="boardList?startnum=${n}">${n} </a></li>
								</c:forEach>
								<a href="boardList?startnum=${page+1}">다음</a>
							</ul>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>*/




.tail {font-size: 30px; font-family: 'Nanum Pen Script', cursive;}
/* 반응형 */
@media (max-width:1220px) {
	.container{width: 100%;}
}
@media (max-width:960px) {
	
}
@media (max-width:600px) {
	
}


