<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.enneagram.vo.MemberVO" alias="m"/>
		<typeAlias type="com.enneagram.vo.BoardVO" alias="b"/>
		<typeAlias type="com.enneagram.vo.ReplyVO" alias="r"/>
		<typeAlias type="com.enneagram.vo.EnneagramVO" alias="a"/>
	</typeAliases>
</configuration>